{% extends 'chat/layout.html' %} {% block content %}

<main class="container-lg">
  <div
   
    class="min-vh-100 position-relative border-start border-end"
  >
    <div class="position-absolute top-0 w-100 p-3">
      <h2 class="bg-dark text-center p-3">
        <span class="text-white">Chat Room</span>
      </h2>
        <div id="chat-box" class="p-3"></div>
    </div>

    <div class="position-absolute bottom-0 w-100 pb-4 px-3">
      <div action="" class="input-group">
        <input
          id="message-input"
          type="text"
          placeholder="Type a message..."
          class="form-control"
        />
        <button id="send-button" class="btn btn-primary">Send</button>
      </d>
    </div>
  </div>
</main>

{% endblock %} {% block scripts %}
<script>
    const username = prompt("Enter your username:");
    const chatSocket = new WebSocket(
      "ws://" + window.location.host + "/ws/chat/"
    );

    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      document.getElementById(
        "chat-box"
      ).innerHTML += `<p><b>${data.username}:</b> ${data.message}</p>`;
    };

    document.getElementById("send-button").onclick = function () {
      const messageInput = document.getElementById("message-input");
      chatSocket.send(
        JSON.stringify({ message: messageInput.value, username: username })
      );
      messageInput.value = "";
    };
  </script>
{% endblock %}
