{% extends 'chat/layout.html' %} {% block content %}

<main class="container-lg">
  <div
    id="chat-box"
    class="min-vh-100 position-relative border-start border-end"
  >
    <div class="bg-dark position-absolute top-0 w-100 p-3">
      <h2>
        <span class="text-white">Chat Room</span>
      </h2>
    </div>

    <div class="position-absolute bottom-0 w-100 pb-4 px-3">
      <form action="" class="input-group">
        <input
          id="message-input"
          type="text"
          placeholder="Type a message..."
          class="form-control"
        />
        <button id="send-button" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
</main>

{% endblock %} {% block scripts %}
<script>
  const chatBox = document.getElementById("chat-box");
  const messageInput = document.getElementById("message-input");
  const sendButton = document.getElementById("send-button");

  const ws = new WebSocket(`ws://${window.location.host}/ws/chat/room/`);

  ws.onmessage = (event) => {
    const message = JSON.parse(event.data);
    chatBox.innerHTML += `<p>${message.author}: ${message.content}</p>`;
  };

  sendButton.onclick = () => {
    const message = messageInput.value;
    ws.send(message);
    messageInput.value = "";
  };
</script>
{% endblock %}
